/* Typography */
* {
    font-family: "Segoe UI";
    font-weight: 200;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

@media (max-width: 640px) {
    button {
        margin-top: 5%;
    }
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */
body {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 1em;
    margin-top: 1%;
    outline: none;
}

button:hover {
    background: rgb(45, 50, 102);
    color: rgb(255, 255, 255);
}

#btn-theme {
    display: flex;
    justify-content: center;
}

#content {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 400px;
	margin-left: -200px;
	margin-top: -150px;
	text-align: center;
}

#content > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 2.6em;
	font-weight: 20;
}

#content > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

#background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

.icons-social a {
	color: black;
}

.icons-social a svg path{
	fill: black;
}




